$cta-text-color: #ff525d;
$cta-hover-bg-color: rgb(255, 122, 133);
$headings-color: #1f3f5b;
$footer-text-color: #c8c8cb;
$body-copy-color: #4b5862;
$footer-bg-color: #25252d;
$hero-bg-gradient: linear-gradient(to right, #ff8f70, #ff3d54);
$body-bg-gradient: linear-gradient(to right, #2c2d3f, #3f4164);
